.card-Container {
    height: 100%;
    padding: 8px 16px 8px 16px;
    background: var(--page-header-bgColor);
    border-radius: 18px;
}
.container.card-Container:hover {
    box-shadow: 0px 0px 10px var(--page-header-bgColor);
    cursor: pointer;
}
.add-card{
    height: 100%;
border-radius: 18px;
    border: dashed;
    border-color: #6DBC6C;
}


.modal-footer.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.modal-footer{
    border: none;
    padding: 1rem;

}
button.btn.btn-primary.no-margin-right {
    margin-right: 0px;
}
.row.margin-top {
    margin-top: 40px;
    font-size: 0.8rem;
}
.row-head{
    fill: var(--page-header-txtColor);
height : 30px;
}

.rel{
    position: relative;
}
.q_add{
    position: absolute;
    display: flex;
    width: 25px;
    height: 25px;
    right: 0;
    top: 8px;
    border: 1px solid black;
    border-radius: 70%;
    justify-content: center;

}

.row-body-1{
height : 45px;

}
.row-body-2{
height : 61px;
margin-bottom : 5px;
    color: var(--page-header-txtColor);

}
.row-fooder{
        color: var(--page-header-txtColor);
height : 30px;
font-size: 0.8rem
}
.right{
display : flex;
justify-content: flex-end;
}
.left{
    display : flex;
    justify-content: flex-start;
}
.bottom{
display : flex;
align-content: flex-end;
flex-wrap: wrap;
}
.card-icon{
width : 25px;
height : 25px;
    fill: var(--page-header-txtColor);
}
.card-icon:hover{
    fill: var(--orange);
}
.right>.card-icon{
    fill: var(--page-header-txtColor);
}
.card-titel{
    font-size: 1.1rem;
    font-weight: bold;
        color: var(--orange);
}
.card-description{
    font-size: 0.8rem;

}
.card-add{
    height: 180px;

fill: var(--orange);

}

.add-card:hover{
    background-color: #6DBC6C;
    cursor: pointer;
box-shadow: 0px 0px 10px var(--page-header-bgColor);
}

.add-card>.row {
    margin-top: 7px;
}
svg.card-add {
    width: 160px;
}
button.btn.btn-primary.me-md-2.b1,button.btn.btn-primary.b2{
background-color: var(--page-header-bgColor);

}

button.btn.btn-primary.me-md-2.b1:hover,button.btn.btn-primary.b2:hover{
background-color: var(--orange);

}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--page-header-bgColor);
    outline: 0;
    box-shadow: 0 0 0 0.1rem #078000ba;
}