<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      style="font-size: 16px;" lang="de">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" th:href="@{~/css/nicepage.css}">
    <link rel="stylesheet" th:href="@{~/css/bootstrap.css}" >
    <link rel="stylesheet" th:href="@{~/css/index.css}">
    <link rel="stylesheet" th:href="@{~/css/card.css}">

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  </head>
  <body class="u-body u-xl-mode" data-lang="de">
  <header th:replace="~{layout.html :: header}"> </header>
    <section class="page-content">
      <section class="grid">
        <article>
          <div class="container" style="width: 100%; max-width: 600px">
            <form th:object="${card}" th:action="@{/deck/{deckId}/add_card/{cardId} (deckId=${deckId}, cardId=${card.id})}" method="post" class="container" style="width: 100%; max-width: 750px">
           <h3>Karte erstellen/bearbeiten</h3>
            <br>
            <div class="mb-3">
              <label for="question" class="form-label  ">Frage</label>
              <textarea id="question" th:field="${card.question}" class="form-control" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label  ">Antworten</label>
              <div style="    border: 1px solid #ced4da;    border-radius: 0.25rem; width: 100% ; padding: 20px">
                <div class="answer_text" th:each="answer, cardStat: ${card.answers}">
                  <div class="row">
                    <div class="col-1 question_radio_width">
                      <input th:name="solution"
                             th:value="${cardStat.index}"
                             th:checked="${card.solution == cardStat.index}" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    </div>
                    <div class="col-11">
                      <input type="text" th:field="*{answers[__${cardStat.index}__]}" contenteditable="true" placeholder="Antwort"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button id="submit" class="btn btn-success" type="submit" value="submit">Speichern</button>
              </div>
            </form>
          </div>
        </article>

      </section>
      <footer class="page-footer">
      </footer>
    </section>

  <script class="u-script" type="text/javascript" th:src="@{~/js/bootstrap.js}" defer=""></script>
  <script class="u-script" type="text/javascript" th:src="@{~/js/index.js}"  defer=""></script>
  <script class="u-script" type="text/javascript" th:src="@{~/js/jquery.js}" defer=""></script>
  <script class="u-script" type="text/javascript" th:src="@{~/js/nicepage.js}" defer=""></script>

  </body>
</html>
