<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      style="font-size: 16px;" lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stapel Erstellung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" th:href="@{~/css/nicepage.css}">
    <link rel="stylesheet" th:href="@{~/css/bootstrap.css}" >
    <link rel="stylesheet" th:href="@{~/css/index.css}">
    <link rel="stylesheet" th:href="@{~/css/card.css}">



  </head>
  <body class="u-body u-xl-mode" data-lang="de">
  <header th:replace="~{layout.html :: header}"> </header>
    <section class="page-content">
      <section class="grid">
        <article>
          <div class="container" style="width: 100%; max-width: 750px">
          <form th:action="@{/create}" method="post" class="container" style="width: 100%; max-width: 750px">
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Stapelname</label>
              <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="Bezeichnung des Kartenstapels">
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Stapelbeschreibung</label>
              <input type="text" name="description" class="form-control" id="formGroupExampleInput2" placeholder="Details zum Kartenstapel">
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-success" type="submit" value="submit">Speichern</button>
<!--              <button class="btn btn-primary me-md-2 b1" type="button">Erstellen</button>-->
<!--              <button class="btn btn-primary  b2" type="button">Erstellen und Bearbeiten</button>-->
            </div>
          </form>
          </div>
        </article>

      </section>
      <footer class="page-footer">
      </footer>
    </section>

  <script class="u-script" type="text/javascript" th:src="@{~/js/bootstrap.js}" defer=""></script>
  <script class="u-script" type="text/javascript" th:src="@{~/js/index.js}"  defer=""></script>
  <script class="u-script" type="text/javascript" th:src="@{~/js/jquery.js}" defer=""></script>
  <script class="u-script" type="text/javascript" th:src="@{~/js/nicepage.js}" defer=""></script>
  </body>
</html>
